<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3"> Comments (12,526) </h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe</h6>
            <small class="text-danger"> Last Updated - July 31, 2023</small>

            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam optio maxime provident iusto, libero praesentium asperiores voluptatem consequuntur! Porro ex ab sunt aspernatur nulla animi soluta a dolorum rerum?
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>

            <hr>

        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe</h6>
            <small class="text-danger"> Last Updated - July 31, 2023</small>

            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam optio maxime provident iusto, libero praesentium asperiores voluptatem consequuntur! Porro ex ab sunt aspernatur nulla animi soluta a dolorum rerum?
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>

            <hr>

        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0"> John Doe</h6>
            <small class="text-danger"> Last Updated - July 31, 2023</small>

            <div class="mt-3 mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quam optio maxime provident iusto, libero praesentium asperiores voluptatem consequuntur! Porro ex ab sunt aspernatur nulla animi soluta a dolorum rerum?
            </div>

            <a href="#" class="mt-1"> Reply</a>
            <a href="#" class="mt-1 ms-3"> View Reply</a>

            <hr>

        </div>

    </div>
</div>
