<section class=" featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> FEATURED POSTS </h2>
                <p class="text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, impedit.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" *ngFor ="let featuredPost of featuredPostsArray">
                <app-post-card [postData]="featuredPost"></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2> LATEST POSTS</h2>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-3" *ngFor = "let latestPost of latestPostsArray">
            <app-post-card [postData]="latestPost"></app-post-card>
        </div>
       
        <div class="text-center mt-5 mb-5">
            <button class="btn btn-sub text-white px-4 "> LOAD MORE </button>
        </div>
    </div>
</section>