<section class="mt-5">
    <div class="container bg-theme mt-5 mb-5 p-5">

        <h1 class="text-center text-white"> About Us</h1>

        <div class="bg-secondary-theme text-primary-theme p-5 mt-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda dolores ea eligendi facere numquam cumque et dolorem beatae consectetur velit Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates id natus repudiandae eos iusto fuga, soluta quas saepe dolorem architecto facilis consectetur dicta doloremque placeat dolores ab quisquam molestias.
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda dolores ea eligendi facere numquam cumque et dolorem beatae consectetur velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates id natus repudiandae eos iusto fuga, soluta quas saepe dolorem architecto facilis consectetur dicta doloremque placeat dolores ab quisquam molestias.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda dolores ea eligendi facere numquam cumque et dolorem beatae consectetur velit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates id natus repudiandae eos iusto fuga, soluta quas saepe dolorem architecto facilis consectetur dicta doloremque placeat dolores ab quisquam molestias.</p>

            <div class="text-center">
                <button class="btn btn-info btn-theme text-white mt-4"> Back to Home</button>
             </div>
        </div>
    </div>
</section>
